<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>MyProject</display-name>
    <!-- 设置访问系统时没有指定访问页面时默认的返回页面 -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>com.demo.util.LoginFilter</filter-class>
    </filter>
    <!--  设置过滤器拦截的范围，/*表示拦截所有请求 -->
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.demo.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.demo.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShebeiServlet</servlet-name>
        <servlet-class>com.demo.servlet.ShebeiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShebeiServlet</servlet-name>
        <url-pattern>/ShebeiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.demo.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MonitorServlet</servlet-name>
        <servlet-class>com.demo.servlet.MonitorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitorServlet</servlet-name>
        <url-pattern>/MonitorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WeixiuServlet</servlet-name>
        <servlet-class>com.demo.servlet.WeixiuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WeixiuServlet</servlet-name>
        <url-pattern>/WeixiuServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NoticeServlet</servlet-name>
        <servlet-class>com.demo.servlet.NoticeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoticeServlet</servlet-name>
        <url-pattern>/NoticeServlet</url-pattern>
    </servlet-mapping>
</web-app>
